version: '3.8'

services:
  bot:
    build: .
    container_name: field_extractor_bot
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    volumes:
      - ./temp_files:/app/temp_files
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
